body {
  color: rgb(9,26,62);
  font-family: "Tenor Sans", sans-serif;

  margin: 0px;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.my-container {
  display: flex;
}

.main-content {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#name {
  font-family: 'Archivo Black', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  letter-spacing: 0.2em;
}

.text-block {
  font-family: 'Work Sans', sans-serif;
}

.pitch-block {
  font-family: 'Work Sans', sans-serif;
}

@media (min-width: 1100px) {
  .text-block {
    padding: 5% 20%;
  }

  .pitch-block {
    padding: 10% 20%;
  }
}

@media (max-width: 1100px) {
  .text-block {
    padding: 5% 5%;
  }

  .pitch-block {
    padding: 10% 5%;
  }
}

.pitch-container {
  background-color: #f4eee1;
  width: 100%;
}

.icon-container {
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.inner-icon-container {
  width: 200px;
  justify-content: space-between;
}

.contact-icon {
  height: 2rem;
  padding: 7px;
  transition: 0.5s;
}

.contact-icon:hover {
  background-color: blue;
}

.bite {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Archivo Black', sans-serif;
}

.work-header {
  letter-spacing: 0.2em;
  background-image: url(./HW-4.svg);
  height: 375px;
}


.portfolio-role {
  font-style: italic;
}

.portfolio-image {
  border: 3px solid #d3d3d3;
  background-color: white;
  margin: auto;
}

@media (min-width: 1100px) {
  .portfolio-image {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  .portfolio-image {
    width: 95%;
  }
}

.button-container {
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  width: 370px;
}

.portfolio-title {
  padding: 50px 0px;
  margin: 70px auto;
}

#first-title {
  margin-top: 0px;
}

.btn {
  box-shadow: none;
  background: none;
  width: 150px;
  padding: 10px 0px;
  transition: 0.25s;
  border: 1px solid blue;
}

.btn:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.btn a {
  color: rgb(9,26,62);
}

.portfolio-title {
  background-color: #e8e6d9;
}

.a-section, #name {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bite  {
  height: 375px;

}

#name {
  background-image: url(./HW.svg);
  height: 375px;
}

#brooklyn {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 0.2em;
}

#title {
  background-color: #e8e6d9;
  background-image: url(./HW.svg);
  height: 375px;
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 0.2em;
}

#brooklyn {
  background-image: url(./HW-2.svg);
  height: 375px;
}

.pitch-container {
  background-color: #e8e6d9;
  background-image: url(./HW-3.svg);
  height: 375px;
}
