/*GENERAL*/
body {
  /*old*/
  /*color: rgb(9,26,62);*/
  color: #f2f2f2;
  color: #e7dfdd;
  /*background-color: #0b0c10;*/
  background-color: #0e0b16;
  font-family: "Tenor Sans", sans-serif;
  margin: 0px;
  text-align: center;
  /*background-image: url(./photo.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;*/
}

a {
  text-decoration: none;
}

.container {
  display: flex;
}

/*ICONS AT BOTTOM*/
.icon-container {
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
}

.inner-icon-container {
  width: 200px;
  justify-content: space-between;
}

.contact-icon {
  height: 2rem;
  padding: 7px;
  transition: 0.5s;
}

.contact-icon:hover {
  background-color: blue;
}

/*BUTTONS*/
.btn {
  box-shadow: none;
  background: none;
  width: 150px;
  padding: 10px 0px;
  transition: 0.25s;
  border: 1px solid blue;
  color: #c5c6c7;
}

.btn:hover {
  background-color: blue;
  color: #c5c6c7;
  cursor: pointer;
}

.btn a {
  color: rgb(9,26,62);
}

.button-container {
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  width: 320px;
}

/*PORTFOLIO STUFF - FINE*/
.portfolio-role {
  font-style: italic;
}

.portfolio-image {
  border: 3px solid #d3d3d3;
  background-color: white;
  margin: auto;
}

@media (min-width: 1100px) {
  .portfolio-image {
    width: 1000px;
  }
}

@media (max-width: 1100px) {
  .portfolio-image {
    width: 95%;
  }
}

.portfolio-title {
  padding: 50px 0px;
  margin: 70px auto;
/*  background-color: #e8e6d9;
  background-color: #1f2833;
  background-color: #182628;*/
}

#first-title {
  margin-top: 0px;
}

/*TEXT BLOCKS*/
.text-block {
  font-family: 'Work Sans', sans-serif;
}

@media (min-width: 1100px) {
  .text-block {
    padding: 5% 20%;
  }
}

@media (max-width: 1100px) {
  .text-block {
    padding: 5% 5%;
  }
}

/*SECTIONS*/
#name, #work-header, #brooklyn, #title {
  letter-spacing: 0.3em;
}

.a-section {
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Archivo Black', sans-serif;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-odd {
/*  background-color: #e8e6d9;
  background-color: #1f2833;
  background-color: #182628;*/
}

#name, #title {
  background-image: url(./HW.svg);
  /*background-image: url(./photo.png);*/
}

#brooklyn {
  background-image: url(./HW-2.svg);
}

#pitch {
  background-image: url(./HW-3.svg);
}

#work-header {
  background-image: url(./HW-4.svg);
}
